<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{'Dealers' | translate}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="addDealersModal()">
                <ion-icon name="add"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-searchbar (ionInput)="callSearch($event)" (ionClear)="onClear($event)"></ion-searchbar>
</ion-header>

<ion-content>
    <ion-list>
        <div *ngFor="let item of DealerArraySearch">

            <ion-item>
                <ion-thumbnail item-start>
                    <img src="assets/imgs/user.png" alt="item.Device_Name">
                    <ion-icon name="trash" style="margin-left: 41%;margin-top: 10%;font-size: 30px;color: #b9002f;"
                        (tap)="DeleteDealer(item._id)"></ion-icon>
                </ion-thumbnail>
                <div (tap)="switchDealer(item._id)">
                    <p>
                        <span ion-text color="dark">{{'Name:' | translate}} </span>
                        {{item.first_name}}&nbsp;{{item.last_name}}
                    </p>
                    <p>
                        <span ion-text color="dark">{{'Email:' | translate}} </span>
                        {{item.email}}
                    </p>
                    <p *ngIf="item.pass">
                        <span ion-text color="dark">{{'Password:' | translate}} </span>
                        {{item.pass}}
                    </p>
                    <p *ngIf="!item.pass">
                        <span ion-text color="dark">{{'Password:' | translate}} </span>
                        Not Saved
                    </p>
                    <p>
                        <span ion-text color="dark">{{'Phone:' | translate}} </span>
                        <a href="tel:{{item.phone}}">{{item.phone}}</a>
                    </p>
                    <p>
                        <span ion-text color="dark">{{'Created On:' | translate}} </span>
                        {{item.created_on | date:'shortDate'}}
                    </p>
                    <p>
                        <span ion-text color="dark">{{'Total Vehicles:' | translate}} </span>
                        <span ion-text color="danger">{{item.total_vehicle}}</span>
                    </p>
                </div>

                <p>
                    <button ion-button small (click)="_editDealer(item)">{{'Edit' | translate}}</button>
                    <button ion-button small (click)="dealerStatus(item)" *ngIf="item.status == true"
                        color="mypink">{{'active' | translate}}</button>
                    <button ion-button small color="danger" (click)="dealerStatus(item)"
                        *ngIf="item.status != true">{{'inactive' | translate}}</button>
                    <button ion-button small color="primary"
                        (click)="dealerPerm(item)">{{'Permission' | translate}}</button>
                </p>
            </ion-item>

        </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{'Loading more data...' | translate}}">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>